.init_container {
  border: solid 1px var(--color-4);
  text-align: center;
  color: var(--color-4);
  font-weight: 500;
}

.chat {
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.chat_container {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-4);
  background: var(--color-1);
  color: var(--color-4);
  animation: ariseChat 0.3s ease-in-out;
}

.chat__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px var(--color-4);
}

.chat__header * {
  font-size: 2rem;
  font-weight: 500;
}

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-5);
  cursor: pointer;
}

@keyframes ariseChat {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
